.container {
    display: flex;
    margin: auto;
    padding-left: 15vw;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85vw;
  
  }
  
  .card {
    position: relative;
    width: 15%;
    height: 35vh;
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
    margin: 5rem;
    margin-top: 0;
  }