.container {
    display: flex;
    margin: auto;
    padding-left: 15vw;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85vw;
  
  }
  
  .card {
    position: relative;
    width: 20%;
    height: 45vh;
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    margin: 5rem;
    margin-top: 0;
    border: solid black;
    border-radius: 5%;
  }
  .card::after {
    content: "ADD TO CART";
    padding-top: 1rem;
    padding-left: 1.2rem;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #00AC7C;
    color: #fff;
    height: 2.3rem;
    width: 95%;
    transition: all 80ms;
    font-weight: 600;
    opacity: 0;
  }
  
  .card-title {
    font-size: 2.25rem;
    position: absolute;
    left: 1rem;
    bottom: 1.25rem;
  }
  
  .card-description {
    position: absolute;
    font-size: 2rem;
    left: 1rem;
    bottom: -.75rem;
  }
  
  .card-img {
    position: absolute;
    top: 1rem;
    width: 90%;
    height: 77%;
  }
  
  .card:hover::after {
    bottom: 0;
    opacity: 1;
  }
  
  .card:active {
    transform: scale(0.98);
  }
  
  .card:active::after {
    content: "Added !";
    color: var(--tertiary);
  }