.container {
    display: flex;
    margin: auto;
    padding-left: 15vw;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85vw;
  
  }
  
  .card {
    position: relative;
    width: 20%;
    height: 45vh;
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    margin: 5rem;
    margin-top: 0;
    border: solid black;
    border-radius: 5%;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  }
  .card::after {
    content: "ADD TO CART";
    text-align: center;
    font-size: 2rem;
    position: absolute;
    bottom: -60px;
    background: #00AC7C;
    color: #FFFFFF;
    height: 3rem;
    width: 100%;
    transition: all 80ms;
    font-weight: 600;
    opacity: 0;
    border-radius: 10px;
  }
  
  .card-title {
    font-size: 2.2rem;
    position: absolute;
    left: 1rem;
    bottom: 1.25rem;
  }
  
  .card-description {
    position: absolute;
    font-size: 2rem;
    left: 1rem;
    bottom: -.75rem;
  }
  
  .card-img {
    position: absolute;
    top: 1rem;
    width: 90%;
    height: 77%;
  }
  
  .card:hover::after {
    bottom: 0;
    opacity: 1;
  }
  
  .card:active {
    transform: scale(0.98);
  }
  
  .card:active::after {
    content: "Added !";
    color: var(--tertiary);
  }

  .button {
    font-size: 2rem;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    position: sticky;

  }
#clear {
    top: 15rem;
}

#sortbylow {
    top: 23rem;
    right: 1000rem;
}

#sortbyhigh {
    top: 31rem;
    right: 1000rem;
}

#MG {
    top: 39rem;
    right: 1000rem;
}

#EG {
    top: 47rem;
    right: 1000rem;
}

#RG {
    top: 55rem;
    right: 1000rem;
}

#HG {
   top: 63rem;
   right: 1000rem;
}

#PG {
  top: 71rem;
  right: 1000rem;
}
