@import url(flexboxpart.css);
@import url(colors.css);


html, * {
  font-size: 10px;
}

body{
  background-color: var(--tertiary);
}

h1 {
  text-align: center;
  font-size: 8rem;  
  margin-bottom: 6rem;
  margin: auto;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: solid 4px black;
  border-radius: 15px;
  width: 45%;
}